doctype html
html
	head
		title DAVV PBAS
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css')
	body(onload='load()')
		script.
			function load()
			{
			alert('Change Your password and other account details here than click on Go To Main Menu blinking in top right');
			}
		block content
		block scripts