<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="w.css">
  <style>
.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
  </style>
</head>
<body onload = load()>
</br>
      <a href = "/mainmenu"><h4>Go Back To Home</h4></a>
  <script src="ang.js"></script>
  <div ng-app="myApp" ng-controller="customersCtrl">
   </br>
	<h1 align = "center">University of Indore
Devi Ahilya University, Indore
</h1>
<h2 align = "center">Annual Self-Assessment for the Performance Based Appraisal System (PBAS)</h2>
<h3 align = "center"><b>CATEGORY   III : RESEARCH, PUBLICATION AND ACADEMIC CONTRIBUTION</b></h3>
	 </br>
<form class = "form-horizontal" role = "form" method = "post" action = "/catthreefour">
<input type = "hidden" id = "mytext" name = "userid"></input>
<input type = "hidden" id = "isupdate" name = "isupdateid" value = "false"></input>    


   <div class = "form-group">
      <label for = "Name" class = "col-sm-2 control-label">Session</label>
    
      <div class = "col-sm-8">
<select ng-model="selectedCar" id = "session" class="form-control" name = "session_dropdown" ng-options="y.displaylike for (x, y) in session_data" onchange = "ondropdownchange()">
</select> 

</div>
</div>



<input type = "hidden" id = "ses" ng-model = 'selectedCar.displaylike' name = "session"></input>
<input type = "hidden"  value  = {{data[0].session}} id = "sess"></input>



    




    <div class="col-md-9 col-md-offset-2">
      
      
   






      <div class = "form-group">
            <label for = "title" require class = "col-sm-2 control-label">Title 
        </label>
           <div class = "col-sm-8">
               <input type = "text" required class = "form-control" name = "title" placeholder = "Enter Title " value  = {{data[0].title}}>
            </div>
      </div>

      <div class = "form-group">
            <label for = "Agency" require class = "col-sm-2 control-label">Agency

        </label>
           <div class = "col-sm-8">
               <input type = "text" id = "agenc" require class = "form-control" name = "Agency" placeholder = "Enter Agency " value  = {{data[0].Agency}}>
            </div>
      </div>      

      <div class = "form-group">
            <label for = "grant_in_lakh" require class = "col-sm-2 control-label">Grant/Amount Mobilized (Rs. Lakh)
 

        </label>
           <div class = "col-sm-8">
               <input type = "number" require class = "form-control" name = "grant_in_lakh" placeholder = "Enter Grant/Amount Mobilized (Rs. Lakh)" id = "amt" value  = {{data[0].grant_in_lakh}}>
            </div>
      </div>      
 <div class = "form-group">
      <label for = "duration_type  " require class = "col-sm-2 control-label">Duration Type  </label>
     <div class = "col-sm-8">
    
      <select class="form-control" name = "duration_type" id = "dt" require>
      <option value="hourly">hourly</option>
      <option value="weekly">weekly</option>
      <option value="Semester">Semester wise </option>
      <option value="yearly">yearly</option>
    </select>
        <input type = "hidden"  value  = {{data[0].duration_type}} id = "sessth"></input>
      </div>
   </div>  
        <div class = "form-group">
            <label for = "Duration" require class = "col-sm-2 control-label">Duration</label>
           <div class = "col-sm-8">
               <input type = "number" require id = "duration" class = "form-control" name = "duration" placeholder = "Enter Duration" value  = {{data[0].duration}}>
            </div>
      </div>   
















        <div class = "form-group">
            <label for = "API Score" require class = "col-sm-2 control-label">API Score</label>
           <div class = "col-sm-8">
               <input type = "number" require class = "form-control" name = "api_score" placeholder = "Enter API Score " id = "api" value  = {{data[0].api_score}}>
            </div>
      </div>  
    </div>













   

   </br>
   <div  class = "form-group">
      <div class = "col-sm-offset-6 col-sm-3">
         <button type = "submit" class = "btn btn-default" onclick = subclick()>Submit</button>
       
      </div>
   </div>










 





  
</form>
</br>
</br>




<!-- starting table code -->

<h3>Your Data</h3>
</br>

<label class="w3-label w3-text-blue"><b>Keyword</b></label>
<input class="w3-input w3-border" type="text" ng-model="test" placeholder = "String To serch here">

</br>




    

<table  id ="tblCustomers"  class="w3-table w3-striped w3-bordered w3-border" style="width:auto" > 
 <tr class="w3-light-grey w3-hover-red">
     <th>Session</th>   
    <th>title</th>
    <th>Agency</th>
    <th>grant_in_lakh</th>  
    <th>Duration Type</th>
    <th>Duration</th>
    <th>API Score</th>
    <th>Update</th>
    <th>Delete</th>
  

 </tr>
  <tr onclick="myFunction(this)"  class="w3-hover-blue" ng-repeat="x in names | filter:test ">
      <td>{{ x.session }}</td>
    <td>{{ x.title }}</td>
    <td>{{ x.Agency }}</td>
    
    <td>{{ x.grant_in_lakh }}</td>
    <td>{{ x.duration_type }}</td>
    <td>{{ x.duration }}</td>
    <td>{{ x.api_score }}</td>



<!-- 
 <td><a ng-href="http://localhost:3000/html/home.html?val=" + {{x.telephone}}>Update</a></td> -->
    <td><a ng-href="/updatecatthreefour/{{x.username}}/{{ x.title }}/{{ x.Agency }}/{{x.grant_in_lakh}}/{{ x.duration_type }}/{{ x.duration }}/{{ x.api_score }}" onclick = "makeupdate()">Update</a></td> 
    <td><a ng-href="updatecatthreefour/{{x.username}}/{{ x.title }}/{{ x.Agency }}/{{x.grant_in_lakh}}/{{ x.duration_type }}/{{ x.duration }}/{{ x.api_score }}" onclick="return confirm('Are you sure?')" >Delete</a></td> 
 <!--    <td><a href = "http://localhost:3000/html/home.html?val=" + {{x.telephone}} >update </a></td> -->

  
  </tr>
</table>
</br>
</br>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
    $http.get("/data/viewdatacatthreefour")
    
    .then(function (response) {$scope.names = response.data;});
    app.toDate = function(h) {
    return ("h")
  };


  $http.get("/data/viewcatthreefourdata/"+getParameterByName('username')+"/"+getParameterByName('title')+"/"+getParameterByName('Agency')+"/"+getParameterByName('grant_in_lakh')+"/"+getParameterByName('duration_type')+"/"+getParameterByName('duration')+"/"+getParameterByName('api_score')).then
/* $http.get("http://localhost:3000/data/viewcatthreefourdata/"+getParameterByName('username')+"/"+getParameterByName('category')+"/"+getParameterByName('activity')+"/"+getParameterByName('duration_type')+"/"+getParameterByName('duration')+"/"+getParameterByName('api_score')).then
  */

/*==> $http.get("http://localhost:3000/data/viewcatthreefourdata/yash/EXTENSION/Management%20of%20the%20Institution/554/hourly/0/012").then*/
  
/*http://localhost:3000/data/viewcatthreefourdata/yash/EXTENSION/Management%20of%20the%20Institution/554/hourly/0/0*/

/*app.get('/data/viewcatthreefourdata/:username/:category/:activity/:description/:duration_type/:duration/:api_score', function(req, res, next) {*/




  (
    function(res){
      $scope.data = res.data;
      console.log(res.data);
    },
    function (res) {
      $scope.name = "error"+res.status+" ";

    }
    );




      $http.get("/data/session").then
      (
        function(res){
          $scope.session_data = res.data;

       
          
        },
        function (res) {
          $scope.name = "error"+res.status+" ";

        }
        );





});
</script>






<!--Closing of anglar js div  -->
</div>


<script>

function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}
function a(){
  var v = getParameterByName('val')

  document.getElementById("mytext").value = v;
  
   document.getElementById("uid").value = v;


}




function ondropdownchange()
{
  var e = document.getElementById("session");
var strUser = e.options[e.selectedIndex].text;
document.getElementById("ses").value = strUser;

}


function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length,c.length);
        }
    }
    return "";
}


function checkparam(){
  var field = 'username';
var url = window.location.href;
if(url.indexOf('?' + field + '=') != -1)
    return true;
else if(url.indexOf('&' + field + '=') != -1)
    return true;
return false
}


function makeupdate()
{


 document.cookie = "isupdate=true"
 document.getElementById("isupdate").value = "true";


if(document.getElementById("api").value  == "")
{
  document.getElementById("api").value = 0
} 
if(document.getElementById("duration").value  == "")
{
  document.getElementById("duration").value = 0
} 
if(document.getElementById("agenc").value  == "")
{
  document.getElementById("agenc").value = 0
} 
if(document.getElementById("amt").value  == "")
{
  document.getElementById("amt").value = 0
} 




}
function load()
{

  document.cookie = "username=;";

  if( getCookie("isupdate")==="true"){


 document.cookie = "isupdate=true"
 document.getElementById("isupdate").value = "true";


setTimeout(function() {


var a = document.getElementById("sess").value;
b = document.getElementById("session");
 //alert(v);
document.getElementById("ses").value = document.getElementById("sess").value
setoption(b,a);
/*var c = document.getElementById("sesso").value;
d = document.getElementById("seso");
setoption(d,c);
var e = document.getElementById("sesstw").value;
f = document.getElementById("sestw");
setoption(f,e);*/
var g = document.getElementById("sessth").value;
h = document.getElementById("dt");
setoption(h,g);



function setoption(s,v)
{



    for ( var i = 0; i < s.options.length; i++ ) {
      //alert(s.options[i].label + "and" + v);
        if ( s.options[i].label == v ) {
            s.options[i].selected = true;
            return;
        }
    }
}
  
   }, 500);



  }
  else
  {
 document.cookie = "isupdate=false"
 document.getElementById("isupdate").value = "false";
  }
    


}
function subclick()
{
if(document.getElementById("api").value  == "")
{
  document.getElementById("api").value = 0
} 
if(document.getElementById("duration").value  == "")
{
  document.getElementById("duration").value = 0
} 
if(document.getElementById("agenc").value  == "")
{
  document.getElementById("agenc").value = 0
} 
if(document.getElementById("amt").value  == "")
{
  document.getElementById("amt").value = 0
} 
   



  if(getCookie("isupdate")==="true"){
     document.getElementById("isupdate").value = "true";
  }
  else
  {
    document.getElementById("isupdate").value = "false";
  }
 document.cookie = "isupdate=false"
 
 //alert(document.cookie);
}
</script>
</body>
</html>

